.wrapper{
    // padding: 20px 0;
    .container_products{
        background: #fff;
        .product{
            border-bottom: solid 1px #eee;
            padding: 15px 0;
            justify-content: stretch;
            &:last-child{
                border-bottom: none;
            }
            > div{
                &.content_image{
                    width: 100px;
                }
                &.content_price{
                    .price{
                        font-weight: bold;
                        font-size: 20px;
                        width: initial;
                    }   
                    .title{
                        font-size: 18px;
                        a{
                            text-decoration: none;
                            color: #333;
                        }
                    }
                }
                &.content_address{
                    align-self: center;
                    margin-left: auto;
                    margin-right: 50px;
                    align-items: center;
                    justify-content: center;
                    img{
                        opacity: 0.3;
                        width: 15px;
                        height: 15px;
                    }
                    span{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}